
#facebook
{
    color : white;
}

#twitter
{
    color: #32cdfd;
}

#instagram
{
    color: white;
}
#linkedin
{
    color: white;
}

#googleplus
{
    color: white;
}

#youtube
{
    color: white;
}

#pinterest
{
    color: white;
}

#tumblr
{
    color: white;
}

#snapchat
{
    color: white;
}

#reddit
{
    color: white;
}

#swarm
{
    color: white;
}

#kik
{
    color: white;
}

#periscope
{
    color: white;
}

#soundcloud
{
    color: white;
}

#tinder
{
    color: white;
}

#whatsapp
{
    color: white;
}
#vine
{
    color:white;
}

#facebook:hover
{
    background-color: #1a589f;
}

#twitter:hover
{
    background-color: white;
}

#instagram:hover
{
    background: red;
    background: -webkit-linear-gradient(right top, yellow, red, darkviolet);
    background: -o-linear-gradient(right top, yellow, red, darkviolet);
    background: -moz-linear-gradient(right top, yellow, red, darkviolet);
    background: linear-gradient(to right top, yellow, red, darkviolet);
}

#linkedin:hover
{
    background-color: #0177b5;
}

#googleplus:hover
{
    background-color: #dd5044;
}

#youtube:hover
{
    background-color: #ee1c1b;
}

#pinterest:hover
{
    background-color: #bd081b;
}

#tumblr:hover
{
    background-color: #36465d;
}

#snapchat:hover
{
    background-color: #fffc5d;
}

#reddit:hover
{
    background-color: #ff4500;
}

#swarm:hover
{
    background-color: #ffa633;
}

#kik:hover
{
    background-color: #6fd22a;
}

#periscope:hover
{
    background-color: #30a4c6;
}

#soundcloud:hover
{
    background: #ff7800;
    background: -webkit-linear-gradient(bottom, #ff7800, #ff3200);
    background: -o-linear-gradient(bottom, #ff7800, #ff3200);
    background: -moz-linear-gradient(bottom, #ff7800, #ff3200);
    background: linear-gradient(to bottom, #ff7800, #ff3200);
}

#tinder:hover
{
    background-color: #ff7575;
}

#whatsapp:hover
{
    background: #25d366;
    background: -webkit-linear-gradient(bottom, #61ff7d, #25cf43);
    background: -o-linear-gradient(bottom, #61ff7d, #25cf43);
    background: -moz-linear-gradient(bottom, #61ff7d, #25cf43);
    background: linear-gradient(to bottom, #61ff7d, #25cf43);
}

#vine:hover
{
    background-color: #00bf8e;
}